.contact-button {
    /* margin: 0 2% 4% 2% !important; */
    padding: 25px 0 20px 0;
    
    color: black;
    text-decoration: none;
    border-radius: 12px;
    background-color: lightgray;
}

.contact-button:visited, .contact-button:active, .contact-button:focus {
    color: black;
    text-decoration: none;
}

.contact-button:hover {
    color: black;
    background-image: linear-gradient(to bottom right, #fff95b, #ff930f);
}

.contact-at-symbol {
    margin: 0;

    font-size: 32px !important;
    text-align: center;

    padding-left: 0 !important;
    padding-top: 16px;
}

.contact-name {
    font-weight: 800;
    font-size: 18px;
}

.contact-position {
    font-weight: 600;
    color: rgb(45, 45, 45);
    font-size: 14px;
}

.contact-email {
    font-size: 14px;
}

.col-10 {
    padding: 0 !important;
}

#insta-contact {
    padding-top: 10px !important;
}