/* ---------------- MEDIUM AND LARGER ---------------- */
@media (min-width: 768px) {
    #landing-title {
        padding-top: 17%;
    }
    
    #landing-main {
        font-size: 70px;
        max-width: 800px;
    }

    #main {
        padding-right: 28%;
        padding-left: 28%;
    }

    .what-is-icon > span {
        padding-top: 20px;
        font-size: 30px;
        width: 100%;
    }

    #intro-title {
        font-size: 60px;
    }
}


/* ---------------- SMALL AND SMALLER ---------------- */
@media (max-width: 767px) {
    #landing-title {
        padding-top: 45%;
    }

    #landing-main {
        font-size: 50px;
    }

    #main {
        padding-right: 20px;
        padding-left: 20px;
    }

    .what-is-icon > span {
        padding-top: 20px;
        font-size: 40px;
        width: 100%;
    }

    #intro-title {
        font-size: 40px;
    }

    .bio-image-container {
        padding: 10px 60px 10px 60px;
    }
}