
/* -------------------- MEDIA QUERIES -------------------- */

/* Medium or larger */
@media (min-width: 768px) {
    #main, #intro {
        margin-left: 200px !important;
        width: calc(100vw - 217px) !important;
        max-width: none;
    }

    .nav-link {
        padding: 2px 0 !important;
    }

    .fancy-box, .contact-button {
        margin: 0 2% 4% 2% !important;
        width: 29.33% !important;
    }

    .bio-box {
        padding: 20px !important;
    }

    #babs {
        margin: 0 35.28% 4% 35.28% !important;
    }

    #canvas-overlay {
        left: 200px !important;
        width: calc(100vw - 217px);
        top: 40vh;
    }

    #carousel {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
}


/* Small or smaller */
@media (max-width: 767px) {
    body {
        margin-left: 0px !important;
    }

    #main {
        padding: 20px 5px 50px 5px;

        margin: 0;
        max-width: none;
    }

    .bio-box {
        padding: 0;
    }

    #canvas {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #canvas-overlay {
        margin: 0;
        padding: 50px;

        margin-top: -35vh;
        margin-left: -95vw;
        width: 100%;
    }

    .navbar-expanded + .canvas-overlay {
        margin-top: 65px;
    }

    #carousel {
        width: 100%;
    }
}
