.section-title {
    font-family: 'JetBrains Mono', monospace !important;
}

.question {
    text-align: center;
}

.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
input[type="text"],
button {
padding: 8px;
margin: 0 5px;
}

.python {
    font-family: 'JetBrains Mono', monospace !important;
}

img {
    max-width: 100%;
}

#picture-text {
    text-align: center !important;
    margin: 20px;
}