/**
Author: Andrew Kim
Version: 3.0.0
Since: 8 May 2025
 */


@import '../variables.scss';


.bio-container {
    background-color: $box-dark;
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 60px;
    transition: transform 0.001s;
    text-align: left;

    &:hover {
        transform: scale(1.03) !important;
    }

    .bio-image {
        width: 100%;
        border-radius: 50%;
        padding: 20px;
    }

    .bio-name {
        color: $primary-blue;
        font-size: 42px;
        margin-bottom: 0;
    }

    .bio-position {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .bio-text {
        color: $text-light;
        font-size: 15px;
    }
}




/* **************** MEDIA QUERIES **************** */
@media (min-width: 992px) {

}

@media (max-width: 991px) {
    .bio-container {
        margin: 0 0 60px 0;
    }
}