/**
Author: Andrew kim
Version: 3.0.0
Since: 15 March 2025
 */


$background: #050c1a;
$primary-dark: #10163b;
$primary-purple: #4e4ef7;
$primary-backdrop: #0b183d;
$primary-blue: #3959ff;
$primary-lightblue: #4d6aff;

$box-dark: #071324;
$box-light: #0f1e34;

$text-light: #7e8694;
$text-dark: #55575d;

$line-light: #263449;
$line-dark: #6b7484;

$max-body-width: 1200px;
$max-text-width: 800px;


$duo-colors: #fcf386, #e0e0e0, #bbaba5, #fdeeb9, #c4e2ab, #e1bde3, #fde2b7, #b4eaf1, #f8bbd0;
